<template>
  <div>
    <h1 class="sign-up-title text-center">صفحه ورود</h1>
    <div class="mt-10">
      <v-text-field
        outlined
        counter="11"
        dense
        v-model="login.data.mobile"
        :error-messages="login.msg.mobile"
        :error="login.err.mobile"
        label="شماره همراه"
      ></v-text-field>
      <v-text-field
        outlined
        counter="10"
        dense
        v-model="login.data.password"
        :error-messages="login.msg.password"
        :error="login.err.password"
        @click:append="visible = !visible"
        :append-icon="visible ? 'mdi-eye' : 'mdi-eye-off'"
        :type="visible ? 'text' : 'password'"
        label="رمز عبور (کد ملی)"
      ></v-text-field>
      <v-btn
        block
        color="primary"
        class="shadow-sm mt-5"
        large
        :loading="loading"
        @click="submit"
        @keypress.enter="submit"
      >
        ورود
      </v-btn>
    </div>
  </div>
</template>

<script>
import {isNum, isNationalCode} from '@/assets/unit/validate'
import {mapActions} from 'vuex'
export default {
  layout: 'auth',
  data: () => ({
    login: {
      data: {
        mobile: '',
        password: '',
      },
      msg: {
        mobile: null,
        password: null,
      },
      err: {
        mobile: false,
        password: false,
      },
    },
    loading: false,
    visible: true
  }),
  watch: {
    'login.data.mobile' (val) {
      if(val) {
        this.login.err.mobile = false;
        this.login.msg.mobile = null;
      }
    },
    'login.data.password' (val) {
      if(val) {
        this.login.err.password = false;
        this.login.msg.password = null;
      }
    }
  },
  methods: {
    ...mapActions({
      loginRequest: 'auth/login'
    }),
    // submit
    async submit () {
      if (this.validate()) {
        let isSuccess = await this.loginRequest(this.login.data);
        if(isSuccess) {
          this.$router.push('/')
        }
      }
    },
    // Validate Form
    validate () {
      let {mobile, password} = this.login.data;

      // Valid Mobile
      if (isNum(mobile) && mobile.length === 11 && mobile.startsWith('09')) {
        this.login.err.mobile = false;
        this.login.msg.mobile = null;
      } else {
        this.login.err.mobile = true;
        this.login.msg.mobile = 'شماره موبایل نامعتبر';
      }

      // Valid Password
      if(isNum(password) && password.length === 10 && isNationalCode(password)) {
        this.login.err.password = false;
        this.login.msg.password = null;
      } else {
        this.login.err.password = true;
        this.login.msg.password = 'کد ملی نامعتبر';
      }

      return !this.login.err.mobile && !this.login.err.password;
    }
  }
}
</script>

<style scoped>
.sign-up-title {
  color: #7c8895 !important;
  font-size: 22px !important;
}
</style>