<template>
  <v-app>
    <div class="ps-relative full-width fill-height">

      <!-- Background Image -->
      <div class="background ps-absolute" :class="{full: $vuetify.breakpoint.smAndDown}"></div>
      <div class="full-width d-flex align-center ps-absolute" :style="{height: `${height}px`}">

        <!-- Content -->
        <v-container>
          <div class="d-flex justify-end px-sm-10" :class="{'justify-center': $vuetify.breakpoint.smAndDown}">
            <div class="box white pt-10 pb-16 px-10" :class="{'full': $vuetify.breakpoint.smAndDown}">
              <nuxt/>
            </div>
          </div>
        </v-container>


      </div>
    </div>
  </v-app>
</template>

<script>
export default {
  computed: {
    // Window height
    height() {
      return this.$vuetify.breakpoint.height;
    }
  }
}
</script>

<style scoped>
.background {
  background-image: url("~assets/images/auth/background.jpg");
  background-position: center;
  background-size: cover;
  width: 70%;
  height: 100%;
}
.background.full {
  width: 100%;
}
.box {
  width: 400px;
  -webkit-box-shadow: -32px 0px 67px -13px rgba(168, 168, 168, 0.6);
  -moz-box-shadow: -32px 0px 67px -13px rgba(168, 168, 168, 0.6);
  box-shadow: -32px 0px 67px -13px rgba(168, 168, 168, 0.6);
  border-top: 4px solid #7e7efc !important;
  border-radius: 4px;
}
.box.full {
  width: 100% !important;
}

</style>