<template>
  <v-container>
    <div>
      <h1 class="text-center">You Login in my website</h1>
      <h2 class="text-center">Hi {{ userFullName }}</h2>
    </div>
  </v-container>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  computed: {
    // get user full name
    ...mapGetters({
      userFullName: 'auth/userFullName'
    })
  }
}
</script>
